In [58]:
# Задание1
import pandas as pd

def classified(rating):
    if rating <= 2:
        return 'low'
    elif rating <= 4:
        return 'middle'
    else:
        return 'high'


df_movies=pd.read_csv('movies.csv', usecols=['movieId','title'])
df_ratings=pd.read_csv("ratings.csv", usecols=['movieId','rating'])
df_ratings = df_ratings.groupby('movieId').mean().reset_index()
df_class=df_ratings.merge(df_movies, on='movieId', how='left')
df_class['class'] = df_class['rating'].apply(classified)
df_class.head()

   movieId    rating                               title   class
0        1  3.872470                    Toy Story (1995)  middle
1        2  3.401869                      Jumanji (1995)  middle
2        3  3.161017             Grumpier Old Men (1995)  middle
3        4  2.384615            Waiting to Exhale (1995)  middle
4        5  3.267857  Father of the Bride Part II (1995)  middle

In [59]:
# Задание2
import pandas as pd
df_location = pd.read_csv('keywords.csv')
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
def sorting(row):
    keyword_set = set(row['keyword'].lower().split())
    for region, city_list in geo_data.items():
        if keyword_set.intersection(city_list):
            return region
    return 'undefined'

df_location['location'] = df_location.apply(sorting, axis=1)
df_location[df_location['location'] !='undefined'].head()

                       keyword   shows        location
127               авито москва  979292           Центр
370   авито ру санкт петербург  425134    Северо-Запад
849            авито ярославль  209581           Центр
1063       фарпост владивосток  176951  Дальний Восток
1236      банк санкт петербург  174375    Северо-Запад